@charset "utf-8";

/* reset */
* {margin: 0; padding: 0; letter-spacing: -.03em; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-print-color-adjust: exact !important; print-color-adjust: exact; /* word-break:keep-all; */ word-break: break-word; word-wrap:break-word; overflow-wrap:break-word;/* page-break-after: avoid; page-break-before: avoid; page-break-inside: avoid; break-inside: avoid-page; break-before: avoid-page; break-after: avoid-page; */}
html {width: 100%; height: 100%;}
body {position: relative; font-family: "Noto Sans KR", 'dotum', '돋움', 'gulim', '굴림', sans-serif; font-weight: 400; font-size: 14px; color: #1f1b1c; line-height: 1.5; height: 100%; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-overflow-scrolling: touch; -webkit-print-color-adjust: exact !important;}
body, div, h1, h4, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, table, tr, th, td {margin: 0; padding: 0; font-weight: normal; word-break: keep-all;}
ul, ol, li {list-style: none;}
img, fieldset {border: none; vertical-align: top;}
legend, caption {visibility: hidden; overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0;}
textarea, button {vertical-align: middle;}
input, select {font-family: "Noto Sans KR", 'dotum', '돋움', 'gulim', '굴림', sans-serif; vertical-align: top;}
input {padding: 3px 20px; height: 44px;}
input[type="text"]::-ms-clear {display:none;}
input:focus, input:active {outline: none;}
.attach_area .file_div input[readonly] {pointer-events: none;}
option {padding: 3px 10px;}
option:focus, option:active {outline: none;}
input[type="radio"], input[type="checkbox"] {border: 0; padding: 0; height: auto; -webkit-box-shadow: none; box-shadow: none;}
input[type="password"] {height: 44px; border: 1px solid #e5e5e5; color: #888; background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none;}
input[type="password"]::-webkit-input-placeholder {color: #999;}
input[type="password"]:-ms-input-placeholder {color: #999;}
input[type="password"]::-ms-input-placeholder {color: #999;}
input[type="password"]::placeholder {color: #999;}
input[type="password"]:disabled {color: #999; background-color: #f3f3f3;}
input[type="password"].readonly {color: #999; background-color: #f3f3f3;}
input[type="password"][readonly=readonly] {color: #999; background-color: #f3f3f3;}
input[type="text"] {background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none;}
input[type="text"]::-webkit-input-placeholder {color: #999;}
input[type="text"]:-ms-input-placeholder {color: #999;}
input[type="text"]::-ms-input-placeholder {color: #999;}
input[type="text"]::placeholder {color: #999;}
input[type="text"]:disabled {color: #999; background-color: #e9e9e9;}
input[type="text"]:-moz-read-only {color: #999; background-color: #e9e9e9;}
input[type="text"]:read-only {color: #999; background-color: #e9e9e9; border:1px solid #e9e9e9;}
input[type="text"].readonly {color: #999; background-color: #e9e9e9;}
input[type="text"]:disabled + .cal_btn {opacity: .5;}
input[type="tel"] {background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none;}
input[type="tel"]::-webkit-input-placeholder {color: #999;}
input[type="tel"]:-ms-input-placeholder {color: #999;}
input[type="tel"]::-ms-input-placeholder {color: #999;}
input[type="tel"]::placeholder {color: #999;}
input[type="tel"]:disabled {color: #999; background-color: #f3f3f3;}
input[type="tel"]:-moz-read-only {color: #999; background-color: #f3f3f3;}
input[type="tel"]:read-only {color: #999; background-color: #f3f3f3;}
input[type="tel"].readonly {color: #999; background-color: #f3f3f3;}
input[type="tel"]:disabled + .cal_btn {opacity: .5;}
input[type="number"]::-webkit-input-placeholder {color: #999;}
input[type="number"]:-ms-input-placeholder {color: #999;}
input[type="number"]::-ms-input-placeholder {color: #999;}
input[type="number"]::placeholder {color: #999;}
input[type="number"]:disabled {color: #999; background-color: #f3f3f3;}
input[type="number"]:-moz-read-only {color: #999; background-color: #f3f3f3;}
input[type="number"]:read-only {color: #999; background-color: #f3f3f3;}
input[type="number"].readonly {color: #999; background-color: #f3f3f3;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {-webkit-text-fill-color: #000;-webkit-box-shadow: 0 0 0px 1000px #fff inset; box-shadow: 0 0 0px 1000px #fff inset;transition: background-color 5000s ease-in-out 0s; }
input:autofill, input:autofill:hover, input:autofill:focus, input:autofill:active {-webkit-text-fill-color: #000; -webkit-box-shadow: 0 0 0px 1000px #fff inset; box-shadow: 0 0 0px 1000px #fff inset;transition: background-color 5000s ease-in-out 0s;}
select {font-size: 18px; color: #888; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; vertical-align: top;}
select::-ms-expand {display: none;}
select:focus, select:active {outline: none;}
select:disabled {color: #999; background-color: #e9e9e9; opacity: 1;}
textarea {padding: 10px; width: 100%; font-family: "Noto Sans KR", 'dotum', '돋움', 'gulim', '굴림', sans-serif; font-size: 18px; color: #1f1b1c; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none; border-radius: 0; vertical-align: top; background: #fff; border: 1px solid #e5e5e5; resize: none;}
textarea:focus, textarea:active {outline: none;}
textarea::-webkit-input-placeholder {color: #999;}
textarea:-ms-input-placeholder {color: #999;}
textarea::-ms-input-placeholder {color: #999;}
textarea::placeholder {color: #999;}
textarea:disabled {color: #999; background-color: #f3f3f3;}
textarea:-moz-read-only {color: #999; background-color: #f3f3f3;}
textarea:read-only {color: #999; background-color: #f3f3f3;}
a {text-decoration: none; color: #1f1b1c;}
a:hover, a:focus, a:active {text-decoration: none;}
table {width: 100%; border-collapse: collapse;}
button {background: none; border: none; padding: 0; margin: 0; font-family: "Noto Sans KR", 'dotum', '돋움', 'gulim', '굴림', sans-serif; font-size: 18px; cursor: pointer; overflow: visible;}
button:focus, a:focus {outline: 0 !important;}/* 마우스, 터치로 버튼에 포커스 시 */
button:focus:focus-visible, a:focus:focus-visible {outline: 2px solid black;}/* 키보드로 버튼에 포커스 시 */
/* button:focus, button:active { outline: none; } */
button::-moz-focus-inner {padding: 0; border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
::selection {color: #fff; background-color: #0078C3;}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: normal;
  src: url("./fonts/NotoSansKR-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto Thin";
  font-weight: normal;
  src: url("./fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto Light";
  font-weight: normal;
  src: url("./fonts/Roboto-Light.ttf");
}


.App{position:relative; width:100%; overflow:hidden;}
body { font-family: "Noto Sans KR"; line-height: 28px; background: #fff; position: relative;}
.inner {margin: 0 auto; width: 1080px;}

header {position: fixed; left: 0; top: 0; width: 100%; height: 62px; background: #fff; z-index: 3; box-shadow: 0 4px 16px 2px #00000010, 0 10px 15px 1px #19000000; background-color: #fff; transition: top .6s ease, background-color .6s ease; z-index: 10;}


header.hide {top: -62px;}
header h1 {position: absolute; bottom: 12px; left: 40px; }
header h1 button {font-size: 24px; color: #000; }
header .utils {display: flex; position: absolute; bottom: 14px; right: 40px; }
header .utils button {font-size: 16px;}
header .utils button:last-child {margin-left: 16px;}


footer{padding:20px 0; border-top:1px solid #eee;}
footer .inner .copyright{color:#222; font-weight:500; text-align: center; font-size: 12px;}

.btn-area {padding: 0 0 100px; text-align: center;}
.btn-area .btn-goto {padding: 12px 22px; border: 1px solid #ccc;}
.btn-area .btn-goto span{position:relative; font-size: 20px; font-weight: 100; }
.btn-area .btn-goto span:after{display:block; content:""; position:absolute; bottom:0; left:0; transform:skew(-25deg); width:0; height:50%; background:#1e9aff; opacity:0.1; transition:width 0.4s ease; z-index:-1;}
.btn-area .btn-goto span:hover:after {width: 100%;}


/* -------------- intro -------------- */
.welcome-area{position:fixed; top:0; left:0; width:100%; height:100vh; background:#fff; z-index:5;}
.content-area .img-w .img {position: absolute; top: 0; left: 0; width: 100%; height: 100vh; transform: scale(1.3); transition: transform 1s;}
.content-area .img-w .img.active {transform: scale(1);}
#wrap{overflow:hidden; position:relative; width:100%; color:#222;}
.stop_scroll{overflow:hidden; height:100%; min-height:100%; touch-action: none;}
.welcome-area{position:fixed; top:0; left:0; width:100%; height:100vh; background:#fff; z-index:5;}
.content-area {position: relative; min-height: 100vh;}
/* .content-area .inner {margin: 0 auto; padding: 120vh 0 240px; width: 1460px;} */
.content-area .inner {position:relative; margin: 0 auto; padding: 180px 0 240px; width: 1460px; z-index:1; }
.content-area .tit-w {position: relative; z-index: 2; padding: 180px 0 100px; font-size: 40px; text-align: center; background: #fff;}
.content-area .tit-w .tit {position: relative; top: 80px; opacity: 0; /*font-size:120px; */ font-weight: 800; letter-spacing: -4px; transition: top 1s ease, opacity 1s ease;}
.content-area .tit-w .tit span {position:relative}
.content-area .tit-w .tit span:after{display:block; content:""; position:absolute; bottom:0; left:0; transform:skew(-25deg); width:0; height:50%; background:#1e9aff; opacity:0.1; transition:width 0.4s ease; z-index:-1;}
.content-area .tit-w .made {position: relative; top: 80px; margin-top: 120px; opacity: 0; font-size:16px; font-weight: 600; transition: top 1s ease, opacity 1s ease;}
.content-area .tit-w .made button:last-child {margin-left: 40px;}
.content-area .tit-w .made span{position:relative; font-size: 20px; font-weight: 100;}
.content-area .tit-w .made span:after{display:block; content:""; position:absolute; bottom:0; left:0; transform:skew(-25deg); width:0; height:50%; background:#1e9aff; opacity:0.1; transition:width 0.4s ease; z-index:-1;}
.content-area .tit-w .made span:hover:after {width: 100%;}
.content-area .tit-w.active .tit {top: 0; opacity: 1; transition-delay: .1s;}
.content-area .tit-w.active .tit span:after {width:100%; transition-delay:0.5s}
.content-area .tit-w.active .made {top: 0; opacity: 1; transition-delay: .2s;}
/* .content-area .tit-w.active .made span:after {width:100%; transition-delay:0.6s} */
.content-area .img-w {position: absolute; top: 0; left: 0; width: 100%; height: 100vh; z-index: 1;}
.content-area .img-w .img {position: absolute; top: 0; left: 0; width: 100%; height: 100vh; transform: scale(1.3); transition: transform 1s;}
.content-area .img-w .img.active {transform: scale(1);}
.content-area .img-w img {width: 100%; height: 100%; object-fit: cover;}


/* -------------- about me -------------- */
.aboutme-w {position: relative;}
.profile { position: relative;width: 100%; min-height: 100vh; z-index: 2; overflow: auto; background-color: #f1f1f1;}
.profile .inner {margin: 0px auto; padding: 180px 0px; }
.profile .inner .txt {font-size: 22px; transform: translateY(80px); opacity: 0; transition: opacity .8s, transform .8s;}
.profile .inner .txt.active {transform: translateY(0); opacity: 1;}
.profile .txt-area {text-align: center;}
.profile .txt-area .txt-box {margin-top: 40px;}
.profile .txt-area .txt-box h4 {margin-bottom: 12px; font-size: 22px;}
.profile .txt-area .txt-box p {position: relative; font-size: 18px; transform: translateY(80px); opacity: 0; transition: opacity .8s, transform .8s;  transition-delay: .1s}
.profile .txt-area .txt-box p:last-child {margin-top: 16px; transition-delay: .2s;}
.profile .cont-wrap {display: flex; justify-content: center; margin-top: 120px; transform: translateY(80px); opacity: 0; transition: opacity .8s, transform .8s;}
.profile .cont-wrap.active {transform: translateY(0); opacity: 1;}
.profile .cont-wrap .left .pic {min-width: 380px; height: 380px; object-fit: cover; background: url("../public/kimjisoo.png") no-repeat center / cover; border-radius: 50%; }
.profile .cont-wrap .right {margin-left: 80px; padding-top: 40px;}
.profile .cont-wrap .right h4 {position: relative; margin-bottom: 14px; padding-bottom: 14px; font-size: 22px;}
.profile .cont-wrap .right h4::after { content: ""; display: block; position: absolute; bottom: 0; left: 0px; width: 30px; height: 1px; background:#1e9aff; }
.profile .cont-wrap .right p{font-size: 16px; font-family: 'Noto Sans KR', sans-serif; margin-bottom: 18px;}
.profile .cont-wrap .right p span {margin-right: 12px; font-weight: 700;}

.profile .box-wrap {display: flex; flex-wrap: wrap; justify-content: center; margin-top: 80px; transform: translateY(80px); opacity: 0; transition: opacity .8s, transform .8s;}
.profile .box-wrap.active {transform: translateY(0); opacity: 1;}
.profile .box-wrap .box {margin-bottom: 40px; }
.profile .box-wrap .box:last-child {margin-left: 140px;}
/* .profile .box-wrap .box:nth-child(n+4):nth-child(-n+5){margin-top: 60px;} */
.profile .box-wrap h4 {position: relative; margin-bottom: 14px; padding-bottom: 14px; font-size: 22px;}
.profile .box-wrap h4::after { content: ""; display: block; position: absolute; bottom: 0; left: 0px; width: 30px; height: 1px; background: rgb(73, 176, 180); }
.profile .box-wrap p {font-size: 16px; font-family: 'Noto Sans KR', sans-serif; margin-bottom: 18px;}
.profile .box-wrap p span {margin-right: 12px; font-weight: 700;}
.profile .box-wrap .indent {position: relative; margin-left: 10px; padding-left: 10px;}
.profile .box-wrap .indent::after {content: ''; display: block; position: absolute; left: 0; top: 11px; width: 3px; height: 3px; border-radius: 50%; background-color: #1f1b1c;}
.profile .box-wrap p .peri {margin-right: 14px; font-weight: 300; font-size: 14px;}


.skills {padding: 180px 0 70px; background-color: #fff;}
.skills .txt-area {transform: translateY(80px); opacity: 0; transition: opacity .8s, transform .8s;} 
.skills .txt-area.active {transform: translateY(0); opacity: 1;}
.skills .cont-area {margin-top: 40px; transform: translateY(80px); opacity: 0; transition: opacity .8s, transform .8s;} 
.skills .cont-area.active {transform: translateY(0); opacity: 1;}
.skills .title {font-size: 40px; text-align: center;}
.apexcharts-datalabels {
  position: absolute !important; right: 0 !important; transform: translateX(10px);
}

/* -------------- project -------------- */
.projects-w {position: relative;}
.project {padding: 180px 0; }
.project .title-box {margin-bottom: 80px; text-align: center;}
.project .title-box .title {font-size: 42px;}


.project .box-w {position: relative; padding: 60px 40px; box-shadow: 0 4px 16px 2px #00000010, 0 10px 15px 1px #19000000; }


.project .box-w + .box-w {margin-top: 60px;}
.project .box-w .txt-area {margin-bottom: 60px; text-align: center;}
.project .box-w .txt-area .tit {font-size: 28px;}
.project .box-w .txt-area .sub-tit {margin-top: 12px; font-size: 16px; color: #777;}
.project .cont-area {display: flex; }
.project .cont-area .left .swiper {position: relative; padding-bottom: 60px; width: 400px; height: 570px;}

.project .swiper .img-w {height: 100%; text-align: center;}
.project .swiper img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 100%; object-fit: cover;}
.project .swiper .swiper-button-prev, .project .swiper .swiper-button-next {top: auto; bottom: 0; color: #000; z-index: 2;}
.project .swiper .swiper-button-prev {left: 100px;}
.project .swiper .swiper-button-next {right: 100px;}
.project .swiper .swiper-button-prev:after, .project .swiper .swiper-button-next:after {font-size: 20px;}
.project .swiper .swiper-pagination {bottom: 9px; z-index: 1;}
.project .swiper .swiper-pagination-bullet-active {background-color: #000;}

.project .box-w.shop .swiper {height: 400px;}
.project .box-w.shop .swiper img {width: 100%; height: auto;}

.project .right {margin-left: 40px; padding: 0 20px;}
.project .right .txt-w .txt {font-size: 16px;}
.project .right .txt-w .txt.emph {font-size: 18px;}
.project .right .txt-w .txt + .txt {margin-top: 12px;}

.project .right .detail-w {margin-top: 30px; padding-top: 30px; border-top: 1px solid #ccc;}
.project .right .detail-w .flex-txt {display: flex;}
.project .right .detail-w .flex-txt + .flex-txt {margin-top: 8px;}
.project .right .detail-w .flex-txt .label {margin-right: 20px; min-width: 100px; font-size: 16px; font-weight: 700;}
.project .right .detail-w .flex-txt .desc {font-size: 16px;}

.accordion-w {margin-top: 20px; padding: 20px;}
.accordion li {margin-bottom: 10px;}
.accordion li .question {width: 100%; padding: 20px; border: 1px solid #DDDDDD;border-radius: 10px;display: flex; align-items: center; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); background: #fff;position: relative; z-index: 2;}
.accordion li .question .label {color: #A38862;margin-right: 20px;}

.accordion li .question .tit {display: flex; font-size: 16px; word-break: keep-all;}

.accordion li.on .question {border: 1px solid #2D2D2D;}

.accordion li .answer {border: 1px solid #ddd;background: #fff;border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;border-top: 0; margin-top: -15px; padding: 40px; max-height: 0;opacity: 0; overflow: hidden; transition: max-height 0.3s ease, opacity 0.3s ease;position: relative;}

.accordion li.on .answer {padding: 40px; min-height: 1540px; opacity: 1;}

.accordion li .answer .video-w {min-height: 400px;}
.accordion li .answer .video-w .video-txt {font-size: 18px; margin-top: 30px; margin-bottom: 12px;}
.accordion li .answer .video-w iframe {min-height: 400px;}
